<p>modificacion works!</p>

<form [formGroup]="form" class="example-form" (ngSubmit)="modificarUsuario()">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>ID</mat-label>
      <input type="number" matInput formControlName="id" placeholder="ID" required>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input type="input" matInput formControlName="name" placeholder="Nombre">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>UserName</mat-label>
        <input type="input" matInput formControlName="username" placeholder="Username">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Telefono</mat-label>
        <input type="input" matInput formControlName="phone" placeholder="Phone">
      </mat-form-field>
      <button mat-raised-button type="submit" >ENVIAR</button>
  </form>